body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/fond-bleu.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    gap: 20px;
}

/*COLONNE GAUCHE*/
.contact-left {
    flex: 1;
    /*Partage équilibré de l'espace */
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to right, #E3F2FD, #FFFFFF);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-left h2,
.contact-right h2 {
    text-align: left;
    color: #004AAD;
    font-size: 1.8em;
    line-height: 1.05em;
}

.map-container {
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
}

.contact-left p {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

/*COLONNE DROITE*/
.contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form,
.social-links {
    width: 100%;
    /* Les deux divs occupent toute la largeur de contact-right */
    border-radius: 10px;
    padding: 20px 20px 30px 20px;
    background: linear-gradient(to right, #E3F2FD, #FFFFFF);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form h2,
.social-links h2 {
    text-align: left;
    color: #004AAD;
    font-size: 1.8em;
}

/* formulaire de contact*/

.form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    font-size: 1em;
    color: #666;
    text-align: left;
}

.form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(to right, #00bfff, #001f54);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: background 0.3s ease;
}

.btn-submit:hover {
    background: linear-gradient(to right, #1ec8ff, #001640);
}

/* reseaux sociaux*/
.icons {
    display: flex;
    gap: 20px;
  }
  
  .icons a {
    color: #004AAD; /* Couleur des icônes */
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icons a:hover {
    transform: scale(1.1);
    color: #00bfff; /* Changement de couleur au survol */
  }

/* Responsive */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .contact-left{
        width: 100%;
        padding: 15px;
    }

    .contact-right {
        width: 100%;
        padding: 15px 0;
    }

    input {
        width: 100%;
    }
}