/*nécessaire pour forcer le fond fixe sur firefox!*/
body {
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/fond-bleu.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  /*--------------------fond------------------------*/ 
.mentions-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #E3F2FD, #FFFFFF);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: left;
    font-size: 2.5em;
    color: #004AAD;
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: left;
    font-size: 1.8em;
    color: #004AAD;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  a {
    color: #004AAD;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .mentions-container {
      width: 90%;
      padding: 15px;
    }
  
    h1 {
      font-size: 2em;
    }
  
    h2 {
      font-size: 1.5em;
    }
  }
  