/*nécessaire pour forcer le fond fixe sur firefox!*/
body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/fond-bleu.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/*--------------------fond------------------------*/

h2{
  margin-top: 40px;
  color: #fff;
}

.movie-card {
    display: flex;
    align-items: center;
    border: 2px solid #0F6F9F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(to right, #e3f2fd, #fff);
  }
  
  .poster {
    width: 200px;
    height: auto;
    object-fit: cover;
  }
  
  .details {
    flex: 1;
    padding: 20px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #004aad; /* Bleu cobalt profond */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
  }
  
  .director-year {
    font-size: 14px;
    margin: 10px 0;
    color: #555;
  }
  
  .synopsis {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
  }
  
  .date-time {
    margin: 10px 0 20px 0;
    font-size: 14px;
    font-weight: bold;
    color: #555;
  }
  
  .reserve-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #00bfff, #001f54); /* Dégradé bleu clair profond (#4682b4) vers bleu nuit (#001f54) */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .reserve-btn:hover {
    background: linear-gradient(to right, #1ec8ff, #001640); /* Dégradé ajusté au survol avec une variante de bleu clair et un bleu nuit plus intense */
  }
  @media screen and (max-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centre les éléments */
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  
    .movie-card {
      flex-direction: column;
      align-items: center;
      width: 90%;
      max-width: 600px;
      margin: 20px auto;
      padding: 12px;
      border: 2px solid #0F6F9F;
      border-radius: 10px;
      background: linear-gradient(to right, #E3F2FD, #FFFFFF);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  
    .poster {
      width: 100%;
      max-width: 350px;
      margin-bottom: 15px;
      border-radius: 10px 10px 0 0; /* Arrondi en haut uniquement */
    }
  
    .details {
      width: 100%;
      text-align: left; /* Aligne le texte à gauche comme dans single.css */
      padding-left: 0;
    }
  
    .title {
      font-size: 1.7em;
      font-weight: bold;
      color: #004AAD;
    }
  
    .details h2 {
      font-size: 1.3em;
      text-align: left;
    }
  
    .nav-btn {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 15px auto;
      text-align: center;
    }
  }
  