
/*nécessaire pour forcer le fond fixe sur firefox!*/
body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/fond-bleu.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
/*--------------------fond------------------------*/ 

/* Conteneur principal */
.movie-detail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #0F6F9F;
    border-radius: 10px;
    background: linear-gradient(to right, #E3F2FD, #FFFFFF);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Affiche du film */
  .poster {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Contenu détaillé */
  .details {
    flex: 1;
    padding-left: 20px;
    text-align: left;
  }
  .details h2 {
    text-align: left; /* Force l'alignement à gauche */
    margin-bottom: 5px;
    font-size: 1.7em;
  }
  .title {    
    font-weight: bold;
    color: #004AAD;
    font-size: 2.5em;
  }
  
  .year, .director, .genre, .casting, .duration, .synopsis, .date-time {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
  }
  
  .interest {
    font-style: italic;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    text-align: left; 
  }
  .interest h2 {
    text-align: left;
    margin-bottom: 10px;
   }
  
  /* Vidéo bande-annonce */
  .trailer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left
  }
  
  .trailer h2 {
   text-align: left;
   margin-bottom: 10px;
  }
  
  iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
    border: none;
  }
  

  
  /* Responsive : Passage en colonne sur mobile */
  @media screen and (max-width: 768px) {
    main {
      display:flex;
     margin: auto;
    }
    .movie-detail {
      flex-direction: column;      
      width: 90%;
      margin: 20px auto;
      padding: 12px;
    }
  
    .poster {
      width: 100%;
      max-width: 350px;
      margin-bottom: 15px;
    }
  
    .details {
      width: 100%;
      padding-left: 0;
      text-align: left;
    }
  
    .title {
      font-size: 1.7em;
      line-height: 1.2em;
    }
  
    .details h2 {     
      font-size: 1.3em;
    }
  
    iframe {
      width: 100%;
      height: auto;
    }
    .nav-btn {
      display: block;
      width: 100%;
      max-width: 250px;
      margin: 15px auto;
      text-align: center;
    }
  }
  