/* (*)pour réinitialiser les marges par défaut des navigateurs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Assure une gestion uniforme des marges et des bordures */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #666666;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #001640;
}

a:hover {
    color: #1ec8ff;
}

a.nav-btn {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    /* Boutons très ronds */
    background: linear-gradient(to right, #00bfff, #001f54);
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

a.nav-btn:hover {
    background: linear-gradient(to right, #1ec8ff, #001640);
    transform: scale(1.05);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*color: #001f54;  Bleu nuit  à définir!*/
    color: #073D74;
    font-family: 'Poppins', sans-serif;
    /* Police Poppins */
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 10px 20px;
    /*60px joue sur logo à gauche à définir*/
}

header .logo img {
    max-height: 80px;
    /* Limite la hauteur du logo a diminuer sur mobiles 60px*/

}

/* Menu principal */
nav.principal {
    display: flex;
    gap: 15px;
}

nav.principal a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    /* Boutons très ronds */
    background: linear-gradient(to right, #00bfff, #001f54);
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

nav.principal a:hover {
    background: linear-gradient(to right, #1ec8ff, #001640);
    transform: scale(1.05);
}

/* Menu hamburger */
#menuToggle {
    display: none;
    position: relative;
    top: 10px;
    left: -100%;
    z-index: 10;
    -webkit-user-select: none;/* WebKit (Safari, Chrome) */
    user-select: none; /* Propriété standard */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 20;
    -webkit-touch-callout: none;
    /*permet de contrôler l'affichage de la légende (callout) affichée par défaut lorsque le toucher est maintenu sur un élément.*/
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #001640;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
    /*permet de modifier l'origine du repère pour les opérations de transformation d'un élément.*/
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/*Transforme le hamburger en croix*/
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #001640;
}

/*cacher 3èmeligne hamburger*/
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*la 2ème barre doit tourner dans le sens inverse*/
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*placer le menu en haut à droite de l'ecran*/
#menu {
    flex-direction: column;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px 50px;
    background: rgba(237, 237, 237, 0.9);
    list-style: none;
    -webkit-font-smoothing: antialiased; /* pour arrêter le scintillement du texte dans safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 1em;
}

/* pour glisser vers la gauche*/
#menuToggle input:checked~ul {
    transform: none;
}

/*FIN MENU HAMBURGER*/
main {
    margin: auto;
    display: flex;
    flex-direction: column;

}

/*Cookies*/
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #004AAD;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.cookie-banner p {
    flex: 1;
    font-size: 16px;
}

.accept-btn {
    background: white;
    color: #004AAD;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.accept-btn:hover {
    background: #ddd;
}


/* Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #073D74;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.footer-center img {
    height: 60px;
    width: auto;
}


.footer-center div {
    margin-bottom: 15px; /* Ajoute un espace avant le copyright */
}
.mentions a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: transform 0.3s ease-in-out; /* Effet fluide */
    display: inline-block; /* Permet le bon fonctionnement du scale */
}

.mentions a:hover {
    transform: scale(1.2); /* Grossissement */
}
/*Position du logo W3C à droite */
.footer-right {
    position: absolute;
    right: 20px;
}
.w3c-logo {
    width: 60px;
    height: auto;
}



/* Responsive design */
@media screen and (max-width: 996px) {
    header .logo img {
        max-height: 60px;

    }

    nav.principal {
        display: none;
    }

    #menuToggle {
        display: block;
    }

    header {
        flex-direction: row;
    }

    #menu {
        flex-direction: column;
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -28px;
        padding: 125px 50px 50px 50px;
        background: rgba(237, 237, 237, 0.9);
        overflow: hidden;
    }

    #menu li {
        padding: 10px 0;
        font-size: 1em;
        text-decoration: none;
    }

}

@media (max-width: 768px) {
    #menu {
        margin: -100px 0 0 -86px;
        overflow: hidden;
    }

    h2 {
        font-size: 1.6em;
        text-align: center;
    }

    .cookie-banner {
        flex-direction: column;
        /* Les éléments passent en colonne */
        text-align: center;
        /* Centrer le texte */
        padding: 10px;
    }

    .cookie-banner p {
        font-size: 14px;
        /* Réduit la taille du texte */
        margin-bottom: 10px;
    }

    .accept-btn {
        width: 100px;
        /* Largeur adaptée */
        margin: 0 auto;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        position: static;
        margin-bottom: 10px;
    }
}




@media (max-width: 576px) {
    #menu {
        margin: -100px 0 0 -134px;
        overflow: hidden;
    }
}

@media (max-width: 430px) {
    #menu {
        margin: -100px 0 0 -169px;
        overflow: hidden;
    }
}